#btn_save_product {
  -fx-flex: 1 1 auto;
  -fx-margin: 10px;
  -fx-padding: 20px;
  -fx-border: 2px solid #f7f7f7;
  -fx-text-align: center;
  -fx-text-transform: uppercase;
  -fx-position: relative;
  -fx-overflow:hidden;
  -fx-transition: .3s;
  &:after {
    -fx-position: absolute;
    -fx-transition: .3s;
    -fx-content: '';
    -fx-width: 0;
    -fx-left: 50%;
    -fx-bottom: 0;
    -fx-height: 3px;
    -fx-background: #f7f7f7;
  }
  &:hover {
   -fx-cursor: pointer;
   &:after {
    -fx- width: 100%;
     -fx-left: 0;
   }
 }
 }
